<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
		 xmlns="http://Java.sun.com/xml/ns/j2ee" 
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<display-name>createController</display-name>
		<servlet-name>createController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.createController</servlet-class>
	</servlet>
	<servlet>
		<display-name>createUserController</display-name>
		<servlet-name>createUserController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.createUserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createTablePhoneController</display-name>
		<servlet-name>createTablePhoneController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.createTablePhoneController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreatePhoneController</display-name>
		<servlet-name>CreatePhoneController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.CreatePhoneController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchUserController</display-name>
		<servlet-name>SearchUserController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.SearchUserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logoutController</display-name>
		<servlet-name>logoutController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.logoutController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deletePhoneController</display-name>
		<servlet-name>deletePhoneController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.deletePhoneController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePhoneController</display-name>
		<servlet-name>UpdatePhoneController</servlet-name>
		<servlet-class>ec.edu.ups.servlets.UpdatePhoneController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createController</servlet-name>
		<url-pattern>/createTable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createUserController</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createTablePhoneController</servlet-name>
		<url-pattern>/createTablePhone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatePhoneController</servlet-name>
		<url-pattern>/createPhone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchUserController</servlet-name>
		<url-pattern>/searchUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deletePhoneController</servlet-name>
		<url-pattern>/deletePhone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePhoneController</servlet-name>
		<url-pattern>/updatePhone</url-pattern>
	</servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
